.simple-keyboard {
  margin: 0 8px;
}

.simple-keyboard.myTheme1 {
  background-color: #282c34;
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.simple-keyboard.myTheme1 .hg-button {
  @apply sm:h-16 sm:w-12 h-16 w-8 grow-0 text-lg;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #757575;
  color: white;
  border-bottom: none;
}

.simple-keyboard .hg-button.operation-keys {
  @apply sm:w-24 w-16;
}

.simple-keyboard .hg-row {
  justify-content: center;
}

.simple-keyboard .hg-button.correct {
  background-color: #538d4e;
}

.simple-keyboard .hg-button.present {
  background-color: #b59f3b;
}

.simple-keyboard .hg-button.absent {
  background-color: #3a3a3c;
}
